<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Green Route</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{/templates/css/styles.css}" rel="stylesheet" />

<script>
	function modificar() {
		document.getElementById("hiddenUsername").value = document
				.getElementById("username").value;
		document.getElementById("hiddenEmail").value = document
				.getElementById("email").value;
	}
</script>

</head>
<body>
	<!-- Navigation-->
	<div th:replace="layout/nav:: nav"></div>

	<br>
	<br>

	<div class="container">
		<table class="table table-striped table-bordered">
			<thead class="table" style="color: white; background-color: #0d6efd;">
				<tr>
					<th>ID</th>
					<th>Nombre</th>
					<th>Email</th>
					<th>Editar</th>
					<th>Cancelar</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" id="id" name="id" required
						th:value="${usuario.id}" disabled></td>
					<td><input type="text" id="username" name="username" required
						th:value="${usuario.username}" onKeyUp="modificar();"></td>
					<td><input type="text" id="email" name="email" required
						th:value="${usuario.email}" onKeyUp="modificar();"></td>

					<td><form th:action="@{/users/editado}" method="POST">
							<input type="hidden" id="hiddenEmailOriginal"
								name="usernameOriginal" th:value="${usuario.username}"> <input
								type="hidden" id="hiddenUsername" name="username"> <input
								type="hidden" id="hiddenEmail" name="email">
							<button type="submit" class="btn btn-secondary" id="buttonEdit"
								value="Editar usuario">Editar</button>
						</form></td>
					<td><form th:action="@{/users}" method="GET">
							<button type="submit" class="btn btn-danger" id="buttonCancelar"
								value="Cancelar">Cancelar</button>
						</form></td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- Footer-->
	<div th:replace="layout/footer:: footer"></div>
	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<!-- Core theme JS-->
	<script src="js/scripts.js"></script>
</body>
</html>