<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.0-beta.2.rc.2/leaflet.css"
	rel="stylesheet" />
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.js"></script>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.2.3/leaflet.draw.css"
	rel="stylesheet" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Green Route</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

<!-- Bootstrap icons-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
	rel="stylesheet" />
<!-- Core theme CSS (includes Bootstrap)-->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{/templates/css/styles.css}" rel="stylesheet" />
<link th:href="@{/templates/css/map.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{templates/js/findScript.js}"></script>
</head>
<body>
	<!-- Navigation-->
	<div th:replace="layout/nav:: nav"></div>
	<!-- Header-->
	<!-- <div th:replace="layout/header:: header"></div> -->
	<!-- Section-->


	<br>
	<div class="container px-4 px-lg-5">
		<p class="h1">Rutas</p>
		<br>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<!-- Container wrapper -->
			<div class="container px-4 px-lg-5">

				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio"
						name="inlineRadioOptions" id=input1 value="1" checked> <label
						class="form-check-label" for="inlineRadio1">Ver Todos</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio"
						name="inlineRadioOptions" id="input2" value="2"> <label
						class="form-check-label" for="inlineRadio2">Buscar por
						Nombre</label>
				</div>
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio"
						name="inlineRadioOptions" id="input3" value="3" >
					<label class="form-check-label" for="inlineRadio3">Buscar
						por Poblacion</label>
				</div>

				<!-- Search form -->
				<form th:action="@{/rutas}" method="post" class="row">
					<div class="input-group">
						<input type="search" class="form-control rounded"
							placeholder="Search" aria-label="Search" name="search"
							aria-describedby="search-addon" /> <input type="hidden"
							name="valor" id="valor">
						<button type="submit" class="btn btn-outline-success">search</button>
					</div>
				</form>
				<!-- Collapsible wrapper -->
			</div>
			<!-- Container wrapper -->
		</nav>

		<br>
			<div 
		class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
		<div class="col" th:each="ruta : ${rutas}">
		<div th:replace="layout/listMap:: listMap"></div>
		</div></div>
	</div>
	<br>

	<!-- Footer-->
	<div th:replace="layout/footer:: footer"></div>
	<!-- Bootstrap core JS-->
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
