<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Green Route</title>
</head>
<body>
	<!-- Header-->
	<header th:fragment="header" class="bg-dark py-5">
		<div class="container px-4 px-lg-5 my-5">
			<div class="text-center text-white text-header">
				<h1 class="display-4 fw-bolder">Green Route</h1>
				<p class="lead fw-normal text-white-50 mb-0">Green Route es un
					sitio para descubrir y compartir rutas al aire libre a pie, en bici
					y de muchas otras actividades</p>
			</div>
		</div>
	</header>
</body>
</html>